@import '../../index.scss';

@mixin centers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  @include centers();
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  z-index: 999;
  border-bottom: 1px solid $color3;
  background-color: $color3;

  .header-wrapper{
    @include centers();
    justify-content: space-between;
    width: 90%;

    .left-item{

    }

    .right-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .icon-header{
        position: relative;
      }

      .card-item-count{
        background-color: orangered;
        color: $color2;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: -10px;
        padding: 3px 6px;
        font-size: 11px;
      }
      
      p{
        // @include centers();
      }
    }
  }

}